@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Libre Baskerville', serif;
  background: #fff;
  
}

/* header area */
header{
  margin: auto;
  display: flex;
  background: #210f04;
  width: 90%;
  height: 10vh;
  align-items: center;
  border-radius: 0 0 20px 20px;
  position: sticky;
  top: 0;
  transition: 0.5s;
}
header:hover{
  box-shadow: 15px 0px 30px rgba(0,0,0,0.2), 15px 5px 60px rgba(0,0,0,0.2);
}
.logo-container {
  flex: 1;
}
.nav1{
  flex:2;
  
}
.logo-container, .navigation {
  display: flex;
}
#bakery-shop-logo{
   margin-left: 10px;
   width: 10vh; 
   height: auto; 
}
.shop-name{
  margin-left: 10px;
  margin-top: 3vh;
  color: #ffffff;
}
.navigation{
  justify-content: space-around;
}
.linking {
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  font-size: 16px;
  transition: 0.5s;
}
.linking:hover {
  opacity: 1;
  transform: scale(1.3);
  text-shadow: 0px -3px 0px rgba(0,0,0,0.7), 0 0 5px rgba(255,255,255,0.6),0 -5px 15px rgba(255,255,255,0.7);
} 

/* main area */
.container{
  margin: 5vh auto auto auto;
  width: 95%;
  height: 120vh;
  background: transparent;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 0.5fr 5fr 5fr;
  grid-gap: 1.2em;
  grid-template-areas: 
  "nav dosth dosth dosth"
  "nav content1 content2 content3"
  "blank content4 content5 content6";
  z-index: 1;
  
}
.nav2{
  background: #6F1D1B;
  grid-area: nav;
  
}
#blank{
  background: transparent;
  grid-area: blank;
}
#dosth{
  background: #955939;
  grid-area: dosth;
}
#content1 {
  background: #A87748;
  grid-area: content1;
}
#content2 {
  background: #BB9457;
  grid-area: content2;
}
#content3 {
  background: #432818;
  grid-area: content3;
}
#content4 {
  background: #99582A;
  grid-area: content4;
}
#content5 {
  background: #CC9F69;
  grid-area: content5;
}
#content6 {
  background: #FFE6A7;
  grid-area: content6;
}

footer{
  margin-top: 2vh;
  height: 20vh;
  background:  #FFE8AF;
  grid-area: footer;
}