@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Libre Baskerville', serif;
  background: #ffb20f;
}

/* header area */
header{
  margin: auto;
  display: flex;
  background: #210f04;
  width: 90%;
  height: 15vh;
  align-items: center;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 0px 40px #972d07, 0px 0px 80px #972d07;
}
.logo-container {
  flex: 1;
}
.nav1{
  flex:2;
  
}
.logo-container, .navigation {
  display: flex;
}
#bakery-shop-logo{
   margin-left: 10px;
   width: 13vh; 
   height: auto; 
}
.shop-name{
  margin-left: 10px;
  margin-top: 5vh;
  color: #ffffff;
}
.navigation{
  justify-content: space-around;
}
.linking {
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  font-size: 18px;
}
.linking:hover {
  opacity: 1;
  transform: scale(1.3);
  text-shadow: 0px -3px 0px rgba(0,0,0,0.7), 0 0 5px rgba(255,255,255,0.6),0 -5px 15px rgba(255,255,255,0.7);
} 

/* main area */
main{
  margin: 10vh auto auto auto;
  width: 95%;
  height: 100vh;
  background: transparent;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr 5fr 5fr 5fr;
}
.nav2{
  background: #6F1D1B;
}
#dosth{
  background: #955939;
}
#content1 {
  background: #A87748;
}
#content2 {
  background: #BB9457;
}
#content3 {
  background: #432818;
}
#content4 {
  background: #99582A;
}
#content5 {
  background: #CC9F69;
}
#content6 {
  background: #FFE6A7;
}
footer{
  background:  #FFE8AF;
}






