@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Libre Baskerville', serif;
  background: #ffb20f;
}
header{
  margin: auto;
  display: flex;
  background: #210f04;
  width: 90%;
  height: 15vh;
  align-items: center;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 0px 40px #972d07, 0px 0px 80px #972d07;
}
.logo-container {
  flex: 1;
}
nav{
  flex:2;
  
}
.logo-container, .navigation {
  display: flex;
}
#bakery-shop-logo{
   margin-left: 10px;
   width: 13vh; 
   height: auto; 
}
.shop-name{
  margin-left: 10px;
  margin-top: 5vh;
  color: #ffffff;
}
.navigation{
  justify-content: space-around;
}
.linking {
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  font-size: 18px;
}
.linking:hover {
  opacity: 1;
  transform: scale(1.2);
} 





